.index-container {
    position: relative;

    // 首页背景图
    .window-bgc {
        height: 200rpx;
        position: absolute;
        width: 100%;
        background-color: #f3514f;
        border-radius: 0 0 20rpx 20rpx;
    }
}
